{% block body_html %}

    <h2>Contact Us Information</h2>
    <p>Following information filled by a user</p>
    <table>
        <tr>
            <td>
                Full Name:
            </td>
            <td>
                {{ name }}
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                {{ email }}
            </td>
        </tr>
        <tr>
            <td>
                Contact No:
            </td>
            <td>
                {{ contact_no }}
            </td>
        </tr>
        <tr>
            <td>
                Message:
            </td>
            <td>
                {{ message }}
            </td>
        </tr>
        <tr>
            <td>
                IP:
            </td>
            <td>
                {{ ip }}
            </td>
        </tr>
        <tr>
            <td>
                User Agent:
            </td>
            <td>
                {{ agent }}
            </td>
        </tr>
    </table>

{% endblock %}