
{% block body_html %}


    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </head>
    <body style="margin:0px; background: #ffffff; ">


    <div width="100%">
        <div style="max-width: 700px; padding:40px 0;  margin: 0px auto;padding-left: 15px;
    padding-right: 15px;">

            <div class="logo" style="border-bottom: 1px solid #f0f0f0; padding-bottom: 20px;">
                <img src="{{base_path}}/assets/dr-iq/images/template-logo.png" alt="logo">
            </div>

            <div>

                <h3 style="font-family: sans-serif;font-size:15px;font-weight:500; padding-bottom: 20px;padding-top:20px; color:#000;">Dear {{ first_name }} {{ last_name }},</h3>

                <p style="font-family: sans-serif;font-size: 15px;color: #000;font-weight: 500;line-height: 20px;margin-bottom:3px;">Welcome to Task-Bee, please see below for your Task-Bee account login details:</p>
                <br/>
                <p style="font-family: sans-serif;font-size: 15px;color: #000;font-weight: 500;line-height: 20px;margin-bottom:3px;">Email: {{ user_email }}</p>
                <br/>
                <a href="{{ recovery_link }}" style="text-decoration: none;color: #5ea2d3;font-size:15px;font-weight:500;font-family: sans-serif;">Set my password ></a>

                <p style="font-family: sans-serif;font-size: 15px;font-weight: 500;line-height: 20px;padding-top: 15px;padding-bottom: 10px;">This password link will expire in 2 hours and can only be used once to log in. It will lead you to a page where you can set your password.</p>
                <p style="font-family: sans-serif;font-size: 15px;font-weight: 500;line-height: 20px;padding-top: 15px;padding-bottom: 10px;">If you are having difficulties in setting your password, please contact <a href="mailto:1unit.team@gmail.com" style="text-decoration: none;color: #5ea2d3;font-size:15px;font-family:sans-serif;">customer services.</a></p>

                <p style="font-family: sans-serif;font-size:15px;font-weight: 500;line-height: 20px;padding-top: 15px;">Regards,</p>

                <span style="font-family: sans-serif;font-size:15px;font-weight: 500;">Task-Bee</span>

                <footer style="border-top:1px solid #f0f0f0;margin-top:40px;">
                    <div style="float:left;">
                        <p style="font-family: sans-serif;font-size:12px;font-weight: 500;
    line-height: 20px; padding-top:8px;color: #cac2ba;">Copyright © 2018 Task-Bee <br> Address <br> www.task-bee.com</p>

                    </div>
                    <div style="clear:both;"></div>

                </footer>

            </div>


        </div><!--end main div-->
    </div>
    </body>
    </html>
{% endblock %}